.container {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  /* margin: auto; */
  place-items: center;
  margin-top: 10rem;
}

.intro {
  font-size: x-large;
  margin: 2rem;
}

button {
  background-color: var(--teal);
  color: white !important;
}

