.jumbotron {
  background-color: var(--teal);
  height: 8rem;
}

.jumbotron-title {
  font-size: 8vw;
  padding-top: 50px;
  text-align: center;
}

.dropdown {
  float: right;
}

.dropdown-toggle {
  font-size:medium
}

.dropdown-item:hover {
  background-color: rgb(233, 240, 237);
}

.modal .show {
  display: block;
}

.card {
  padding-top: 1rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.card-img-top {
  width: 200px;
  margin: auto;
}

.card-title {
  font-size: larger;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

.card-text {
  font-style: italic;
  text-align: center;
}

.toggle-button {
  text-align: center;
  margin-bottom: 1rem;
}

.toggle-recipe-button {
  border-radius: 8px;
  background-color: rgb(233, 240, 237);
}

.toggle-recipe-button:hover {
  background-color: rgb(146, 214, 214);
}

.list-heading {
  font-weight: bold;
  font-size: large;
}

.heading {
  font-weight: bold;
  list-style-type: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.recipe-link {
  text-align: center;
}

@media screen and (min-width:768px) {
  .jumbotron-title {
    font-size: 3.84rem;
  }
}


