<div>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 jumbotron-title">Digital Cookbook</h1>

      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Add a new recipe
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Upload from a link</a></li>
          <li><a class="dropdown-item" href="#">Import from a file</a></li>
          <li><a class="dropdown-item" href="#">Manually enter recipe</a></li>
        </ul>
      </div>      
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../assets/chipotle-chicken-pasta.jpeg" alt="Card image cap">
    <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      Tooltip on top
    </button> -->
    <div class="card-body">
      <a class="card-title" data-toggle="tooltip" data-placement="top" data-bs-placement="top" title="Go to original site"
        href="https://www.cravingsofalunatic.com/roasted-red-pepper-angel-hair-pasta">Chipotle Chicken Pasta
      </a>
        
      <p class="card-text">This is a great go-to meal -- easy to keep ingredients on hand, customize the recipe and it freezes well!</p>
    </div>
    <div class="toggle-button">
      <button class="toggle-recipe-button" *ngIf="!isShown" (click)="toggleShowHide()" >View Full Recipe</button>
      <button class="toggle-recipe-button" *ngIf="isShown" (click)="toggleShowHide()" >Hide Full Recipe</button>
    </div>
    <ul *ngIf="isShown" class="list-group list-group-flush">
      <li class="list-group-item">
        
        <div>
          <div class="list-heading">
            Ingredients:
          </div>
          <li class="heading"> For the Pasta</li>
          <li> 2 tbsp butter</li>
          <li> ½ sweet onion diced</li>
          <li> 2 shallots diced</li> 
          <li> 12 oz roasted red peppers, jarred drained</li>
          <li> 2 cloves garlic minced</li>
          <li> 2 tbsp chipotle peppers in adobo sauce adjust this to your heat tolerance</li>
          <li> 2 tbsp good quality tomato paste the tube kind if you can find it</li>
          <li> 2 tbsp dried parsley</li>
          <li> 1 tbsp dried basil</li>
          <li> ½ tsp salt or to taste</li>
          <li> ¼ tsp white pepper or to taste</li>
          <li> ½ tsp smoked paprika</li>
          <li> 1 cup heavy cream</li>
          <li> 16 oz dried angel hair pasta reserve ½ cup of pasta water before draining</li>
          <li class="heading"> For the Optional Garnishes</li>
          <li> parsley fresh or dried, to taste</li>
          <li> red pepper flakes less for a little heat, more if you like more heat</li>
          <li> 2 oz fresh Parmesan cheese or to taste</li>
        </div>
        
      </li>
      <li class="list-group-item">
        <div class="list-heading">
          Instructions:
        </div>
        <ol>
          <li>
            The very first thing to remember about 30 minute meals is to have everything ready to go, having that organized ahead of time makes a world of difference.
          </li>
          <li>
            Before you start any other prep you need to fill a stock pot about ½ to ¾ full of water. Put on the stove over high heat and bring to a boil while you work on everything else. This is the key to this recipe finishing in under 30 minutes. Once it come to a boil you can add salt, but not until it boils.
          </li>
          <li>
            In a large skillet or sauté pan over medium heat, heat 2 tbsp of butter. Once it starts to froth, toss in your onions and shallots. Stir and cook them for about 3 to 5 minutes, you want them translucent, but just starting to brown on the edges. Now add your roasted red peppers and continue cooking for about 2 to 4 minutes, you want everything starting to brown and get a rich colour. Add your garlic and chipotle peppers in adobo, cook for another minute, just letting the garlic get fragrant. Add the tomato paste and stir for about another 1 to 2 minutes. It will deepen everything and give an incredible flavour and aroma to the mixture. Remove from heat.
          </li>
          <li>
            Pull the 2 chipotle peppers out and slice them as fine as possible. Transfer the rest of your mixture to a food processor with the chopping blade attached, add the chipotle pepper back in plus the parsley, basil, salt, white pepper and smoked paprika. Pop the lid on and give it a whir, let it break up the mixture into chunks. Don’t let it become a paste, or a pesto, just a quick whir so it’s still really chunky. Pea sized pieces are okay, and encouraged.
          </li>
          <li>
            Transfer that mixture back to your pan and warm it back up over medium-low heat. Add the cream and stir until thickened.
          </li>
          <li>
            At this point your water should be boiling, salt the water generously, reduce the heat slightly and toss in your pasta. Angel hair pasta only takes 2 minutes to cook. Remove from heat.
          </li>
          <li>
            Reserve ¼ cup of your pasta water, then drain the pasta. Please do not rinse your pasta, it does not need it. The sauce will stick better if you don’t rinse your pasta.
          </li>
          <li>
            Pour the cooked pasta into the sauté pan and begin to flip it around till it starts to meld together. Add the pasta water to help it mix and thicken. Pasta water is a great way to get your pasta and sauce to meld. Keep flipping or use tongs to bring it together.
            
          </li>
          <li>
            Serve family style. Garnish with more parsley and cheese. If you are really adventurous shake some red pepper flakes over top. Our family loves heat so please adjust this recipe to your own heat tolerance.
          </li>
          <li>
            This recipe is a thick, robust and creamy pasta that packs a punch. I hope you enjoy it. If you have more than 30 minutes, and are a meat eater toss some Italian Sausage in this. That’s a huge family favourite in our home.
            Serve with a big old pasta loving smile!
          </li>
        </ol>
      </li>
    </ul>
  </div>
</div>
  