.card {
  padding-top: 1rem;
  margin: auto;
  margin-bottom: 1rem;
}

.card-img-top {
  width: 200px;
  margin: auto;
}

.card-title {
  font-size: larger;
  text-decoration: underline;
  text-align: center;
}

.card-text {
  font-style: italic;
  text-align: center;
}

.list-heading {
  font-weight: bold;
  font-size: large;
}

.heading {
  font-weight: bold;
  list-style-type: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.recipe-link {
  text-align: center;
}